.idea/
.pio/
.vscode/
cmake-build*/
CMakeListsPrivate.txt
venv/
venv*/
esphome/*/
__pycache__/

*/include/version.h
test.ini
dump.txt
build/
win-venv/
firmware/
!firmware/.gitkeep
*.log
components.bak
/sdkconfig
sdkconfig.old
version.txt

logs
10-usb-serial.rules
.python-version


